<div class="row">
  <div class="medium-6 columns">
    <h2 class="root-header">Staff Picks</h2>
    <% @posts.each do |post| %>
      <% if post.staff_pick %>
        <div class="single-line-post">
          <div class="post-title row">
            <h3 class="medium-12"><%= link_to(post.title, post.link) %></h3>
          </div>
          <div class="post-description row">
            <div class="medium-3 columns"><%= post.description %></div>
            <div class="medium-3 columns">
              <% if post.hiring %>
                <p> hiring! </p>
              <% else %>
                <p> not hiring </p>
              <% end %>
            </div>
            <div class="medium-3 columns"><%= post.user.username %></div>
            <div class="medium-3 columns">Votes: <%= post.score %>
              <%= link_to "upvote", like_post_path(post), method: :put %>
              <%= link_to "Post", post_path(post) %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="medium-6 columns">
    <h2 class="root-header">Regular Posts</h2>
    <% @posts.each do |post| %>
      <% if !post.staff_pick %>
        <div class="single-line-post">
          <h3> <%= post.title %> </h3>
          <p> <%= post.description %> </p>
          <p> <%= post.link %> </p>
          <% if post.hiring %>
            <p> hiring! </p>
          <% else %>
            <p> not hiring </p>
          <% end %>
          <p> <%= post.user.username %> </p>
          <p>Votes: <%= post.score %> </p>
          <%= link_to "upvote", like_post_path(post), method: :put %>
          <%= link_to "Post", post_path(post) %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>