<div class="posts-container row">
  <div class="staff-picks-container medium-6 columns">
    <h2 class="root-header">Staff Picks</h2>
    <div class="staff-picks-listing scrolling-listing">
      <% @posts.each do |post| %>
        <% if post.staff_pick %>
          <div class="single-line-post row" data-href="<%= post_path(post) %>">
            <div class="medium-1 columns vote-container">
              <div class="row">
                <div class="medium-12 columns text-center"><%= link_to '<i class="fa fa-arrow-up"></i>'.html_safe, like_post_path(post), method: :put %></div>
              </div>
              <div class="row">
                <div class="medium-12 columns post-score text-center"><%= post.score %></div>
              </div>
            </div>
            <div class="medium-11 columns">
              <div class="post-title-container row">
                <div class="medium-12 columns">
                  <span class="post-title"><%= link_to(post.title, post.link) %></span>
                  <span>
                    <% if post.hiring %>
                      <i class="fa fa-usd" style="color:green"></i>
                    <% end %>
                  </span>
                </div>
              </div>
              <div class="post-info row">
                <div class="medium-8 columns post-description"><%= post.description %></div>
                <div class="medium-2 columns">
                </div>
                <div class="medium-2 columns"><%= post.user.username %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="regular-picks-container medium-6 columns">
    <h2 class="root-header">Regular Posts</h2>
    <div class="regular-picks-listing scrolling-listing">
      <% @posts.each do |post| %>
        <% if !post.staff_pick %>
          <div class="single-line-post row">
            <div class="medium-2 columns"><%= post.score %>
              <%= link_to "upvote", like_post_path(post), method: :put %>
              <%= link_to "Post", post_path(post) %>
            </div>
            <div class="medium-10 columns">
              <div class="post-title row">
                <h3 class="medium-12"><%= link_to(post.title, post.link) %></h3>
              </div>
              <div class="post-info row">
                <div class="medium-8 columns post-description"><%= post.description %></div>
                <div class="medium-2 columns">
                  <% if post.hiring %>
                    Hiring!
                  <% else %>
                    Not hiring
                  <% end %>
                </div>
                <div class="medium-2 columns"><%= post.user.username %></div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>