<h2>Post: <%= @post.id %></h2>

<% @post.feedbacks.each do |feedback| %>
  Question: <%= feedback.question %> <br>
  <% feedback.comments.order(:cached_votes_total => :desc).each do |comment| %>
    Comment: <%= comment.content %> |
    Votes: <%= comment.score %>
     <%= link_to "upvote", like_post_feedback_comment_path(@post, feedback, comment), method: :put %> <br>
  <% end %>
   <%= link_to "New comment", new_post_feedback_comment_path(@post, feedback) %> <br>
<% end %>
<br>

<% if current_user.id == @post.user_id %>
<%= link_to "Add new Feedback Question", new_post_feedback_path(@post) %>
<% end %>