<div class="accept-posts">
  <%= @accept_posts.each do |post| %>
    <%= post.title %> | <%= post.description %> | <%= post.link %> | <%= link_to "Update", edit_post_path(post) %> <br> <br>
  <% end %>
</div>
