<!DOCTYPE html>
<html>
  <head>
    <title>Producthunt</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href='http://fonts.googleapis.com/css?family=Slabo+13px' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Buenard|Exo:400,700|Passion+One:400,700|Bevan|Bitter:400|PT+Sans+Caption|Source+Serif+Pro' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a id="betafeed-header" href="/"><i class="fa fa-users"></i>  BetaFeed</a></h1>
        </li>
      </ul>
      <section class="top-bar-section nav-buttons">
        <ul class="right">
          <% if current_user %>
            <li class="navbar-links">
              <%= link_to new_post_path, class: "new-post-link" do %>
                <i class="fa fa-plus-circle"></i>
              <% end %>
            </li>
            <li class="navbar-links">
              <%= link_to signout_path, class: "signout-link" do %>
                <i class="fa fa-sign-out"></i>
              <% end %>
            </li>
            <li class="navbar-karma">
              <i class="fa fa-arrow-up nav-arrow"></i> <%= current_user.karma %>
            </li>
          <% else %>
            <li class="navbar-facebook"><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></li>
          <% end %>
        </ul>
      </section>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>