<!DOCTYPE html>
<html>
<head>
  <title>Producthunt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if current_user %>
    <%= link_to "Profile", user_path(current_user) %>
    <%= link_to "Log out", logout_path, :method => :delete %>
    <%= link_to "Submit Startup", new_post_path %>
  <% else %>
    <%= link_to "Signin", login_path %>
    <%= link_to "Signup", signup_path %>
  <% end %>

<%= yield %>

</body>
</html>
